<div class="grid grid-rows-1 grid-flow-col gap-4">
    <div class="card w-[50rem] mx-auto">
        <h5 class="mb-base">Table Heading 3</h5>
        <div class="">

            <div class="flex flex-col gap-2 field " >
                <label for="title">Title</label>
                <input pInputText id="title" aria-describedby="title-help" [(ngModel)]="Task.title" />
                <!-- <small id="username-help">Enter your username to reset your password.</small> -->
            </div>
            <div class="flex flex-col gap-2 field " >
                <label for="description">Description</label>
                <input pInputText id="description" aria-describedby="description-help" [(ngModel)]="Task.description" />
                <!-- <small id="username-help">Enter your username to reset your password.</small> -->
            </div>
            <!-- <div class="flex flex-col gap-2 field">
                <label for="username">Select a City</label>
                <p-select optionLabel="name" placeholder="Select a City" class="w-full " />
            </div> -->


            <!--mine-->
            <div class="flex flex-col gap-2 field">
                <label for="assignedTo">Assigned To</label>
                <p-select 
                    [options]="users" 
                    placeholder="Select a User" 
                    [(ngModel)]="Task.assignedTo" 
                    class="w-full"
                    required
                ></p-select>
            </div>
            <!--mine-->

            <!-- <div class="flex flex-col gap-2 field ">
                <label for="username">Due Date</label>
                <p-datepicker  class="w-full "/>
            </div> -->

            <div class="flex flex-col gap-2 field">
                <label for="dueDate">Due Date</label>
                <p-datepicker 
                    [(ngModel)]="Task.dueDate" 
                    name="dueDate" 
                    class="w-full" 
                    [showTime]="false">
                </p-datepicker>
            </div>
            



            <!-- <div class="flex flex-col gap-2 field ">
                <label for="username">Checkbox</label>
                <p-checkbox  />
            </div> -->

            <div class="flex flex-col gap-2 field">
                <label for="Priority">Priority</label>
                <p-select 
                    [options]="priorities"  
                    placeholder="Select a Priority" 
                    [(ngModel)]="Task.priority" 
                    class="w-full"
                    required
                ></p-select>
            </div>

            
            
            <label>Status</label> <br/><br/>
            <div class="flex flex-wrap gap-4">
                
                <div class="flex items-center">
                    <p-radiobutton name="status" value="Pending" [(ngModel)]="Task.status"  inputId="status1" />
                    <label for="ingredient1" class="ml-2">Pending</label>
                </div>
            
                <div class="flex items-center">
                    <p-radiobutton name="status" value="In-progress" [(ngModel)]="Task.status"  inputId="status2" />
                    <label for="ingredient2" class="ml-2">In-progress</label>
                </div>
            
                <div class="flex items-center">
                    <p-radiobutton name="status" value="Completed" [(ngModel)]="Task.status" inputId="status3" />
                    <label for="ingredient3" class="ml-2">Completed</label>
                </div>
<!--             
                <div class="flex items-center">
                    <p-radiobutton name="status" value="Onion" [(ngModel)]="ingredient"  inputId="ingredient4" />
                    <label for="ingredient4" class="ml-2">Onion</label>
                </div> -->
            </div><br/>

            <div class="flex flex-col gap-2 field">
                <label for="isRead">Mark as Read</label>
                <!-- <input  type="checkbox" id="isRead" name="isRead" [(ngModel)]="Task.markasRead" label="Mark as Read"/> -->
                <p-checkbox 
                    id="isRead" 
                    name="isRead" 
                    [(ngModel)]="Task.markasRead" 
                    label="Mark as Read"
                    binary = "true"
                ></p-checkbox>
            </div>
            

            <div class="flex flex-col gap-2 field ">
                <p-button (click) = "createTask()"  label="Create Task" severity="success" />
                <p-button (click) = "CancelCreateTask()" label="Cancel" severity="danger" />
            </div>
            
        </div>
    </div>

  </div>